export("abs_Ozone", "absolute_error", "absolute_error1", "absolute_error2", "actual", "actual1", "actual2",
       "acutal1", "acutal2", "acutual1", "acutual2", "air", "air.testing", "air.training", "correct",
       "cutpoint2_3", "goodOzone", "GoodOzone_df", "goodOzone_test", "goodOzone_train", "incorrect",
       "Ksvm_acc", "model", "ModelKsvm", "modelLm", "ModelnaiveBayes", "modelSvm", "Modelsvm", "Modelsvm1",
       "naiveBayes_acc", "nrows", "p1", "p2", "p3", "pa", "pb", "pc", "plist", "plist2", "plot_Ksvm",
       "plot_Svm", "pred", "pred1", "pred2", "predict_GoodOzone", "predict_GoodOzone1",
       "predict_GoodOzone2", "randIndex", "results", "results2", "Svm_acc", "total")
